body{
  /* overflow: hidden; */
}
.marquee{
  /* height: 15vh; */
  /* width: 100%; */
  /* background-color: yellowgreen; */
  white-space: nowrap;
  padding: 1vw;
  /* transform: translateX(16px); */
  animation-name: move;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.marquee h1{
  display: inline-block;
  font-size: 4vw;
  /* background-color: red; */
  -webkit-text-stroke: 1px white;
  color: transparent;
  margin-right: 16px;

}


@keyframes move {
  from{
    transform: translateX(0);
  }
  to{
    transform: translateX(calc(-100% - 20px));
  }
  
}